sidenav-container {
  height: 100%;
}

.sidenav {
  width: 200px;
  border-right: 3px solid #546E7A;
  background: rgb(248, 246, 246);
}

.sidenav .mat-toolbar{
  background: inherit;
}

mat-nav-list > a.active {
  background: #0a7aad;
  color: white;
}
